{% extends 'base.html.twig' %}

{% block title %}New Rapport{% endblock %}

{% block body %}
    <h1>Create new Rapport</h1>

    {{ include('rapport/_form.html.twig') }}

    <a href="{{ path('rapport_index') }}">back to list</a>
{% endblock %}
