{% extends 'base.html.twig' %}

{% block title %}Edit Rapport{% endblock %}

{% block body %}
    <h1>Modifier le rapport</h1>
<center>
    {{ include('rapport/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rapport_index') }}">Retour la la liste des rapports</a>

<<<<<<< HEAD
    {{ include('rapport/_delete_form.html.twig') }}
=======
    {#{{ include('rapport/_delete_form.html.twig') }}#}
>>>>>>> 48e8966f6caf7740e75ef0dc273c01bb53703c76
</center>
{% endblock %}
