{% extends 'base.html.twig' %}

{% block title %}New Rapport{% endblock %}

{% block body %}
<center>
    <h1>Créer un nouveau rapport :</h1>

    {{ include('rapport/_form.html.twig') }}
<<<<<<< HEAD
</center>
    <a href="{{ path('rapport_index') }}">back to list</a>
=======
<br />
    <a href="{{ path('rapport_index') }}" target="_blank">Retour à la liste des rapports</a>
</center>
>>>>>>> 48e8966f6caf7740e75ef0dc273c01bb53703c76
{% endblock %}
