{% extends 'base.html.twig' %}

{% block title %}New Rapport{% endblock %}

{% block body %}
<center>
    <h1>Créer un nouveau rapport :</h1>

    {{ include('rapport/_form.html.twig') }}
<br />
    <a href="{{ path('rapport_index') }}">Retour à la liste des rapports</a>
</center>
{% endblock %}
