{% extends 'base.html.twig' %}

{% block title %}New Rapport{% endblock %}

{% block body %}
<center>
    <h1>Créer un nouveau rapport :</h1>

    {{ include('rapport/_form.html.twig') }}
</center>
    <a href="{{ path('rapport_index') }}">back to list</a>
{% endblock %}
